.appContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #333;
}

.wrapper { 
  display: flex;
  min-height: 100vh; 
  padding: 1rem;
  
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.sideBar {
  width: 200px;
  
  padding: 1rem;
  justify-content: center;

  /* Prevents sidebar to shrink if the content is too big */
  flex-shrink: 0;
  border-right: 1px solid #ddd;
}

.ul-links {
  padding: 1;
}

.main {
  flex: 1;
  padding: 2rem;

}

.footer {
  padding: '1rem';
  text-align: 'center';
  margin-top: 'auto';
}